<% if !current_user %>
<p>Welcome to Behaviour Change Environment App made by Henri
  Hyyryläinen for the persuasive system design course.
</p>

<p>
  The goal of this web app is to provide you with easy to do daily
  tasks that have an impact on the environment.
</p>

<p>
  You might want to <%= link_to('login', new_user_session_path) %> or
  perhaps <%= link_to('register', new_user_registration_path) %>.
</p>

<br>

<p>
  This app's code is on <a href="https://github.com/hhyyrylainen/BCEnvironmentApp">Github</a>.
</p>

<p>This site uses cookies for keeping track of browsing sessions and
  logins. User login statistics and other data is collected in order
  to show how many other users there are on the site and how well they
  are doing in the leaderboards.
</p>


<% else %>

<p>Welcome <%= link_to(current_user.email, profile_path) %>
  <%= 'you are an admin' if current_user.admin? %>
  <%= pluralize(@daily_users, 'user')%> have logged in today.
  <% if current_user.last_sign_in_at %>
  You last logged in at <%= localize(current_user.last_sign_in_at, :format => :long) %>
  <% end %>
  </p>

<p>
  This is your home view where you can see your daily tasks and
  progress. You can view your badges in the badges view and compare
  your points against others on the leaderboards.
</p>

<% progress = (@level_progress * 100).to_i %>

<div>
  <h3>Level Progress</h3>
  <div class="progress">
    <div class="progress-bar"
         style="width: <%= progress %>%;"
         role="progressbar"
         aria-valuenow="<%= progress %>" aria-valuemin="0"
         aria-valuemax="100"><%= progress %>%</div>
  </div>
  You are currently at level <%= @current_level %>.
  You have a total of <%= pluralize(@points, 'point')%>,
  you need <%= pluralize(@points_left, 'point')%> to level up.
  You have <%= pluralize(current_user.granted_badges.count, 'badge') %>,
  see all of your badges <%= link_to('here', badges_path) %>.
</div>

<div>
  <h3>Tasks</h3>
  <% if @tasks_left.empty? %>
  <h3>Congratulations! You have completed all your daily tasks!</h3>
  <p>Check back tomorrow for more tasks.</p>
  <% else %>
  <p>These are your daily tasks (left: <%= @tasks_left.size %>):</p>
  <%= form_for "home", url: "/home/done", local: true do |form| %>
  <ul>
    <% @tasks_left.each do |task| %>
      <li>
        <%= form.check_box "completed_#{task.id}" %> <strong><%= task.task.name %></strong>
        <%= task.task.description %>
      </li>        
    <% end %>
  </ul>
  <%= form.submit "Mark Done", class: 'btn btn-primary' %>
  <% end %>
  <% end %>

  <% if !@tasks_done.empty? %>
  <p>You have already completed these tasks:</p>
  <%= form_for "home", url: "/home/undo", local: true do |form| %>
  <ul>
    <% @tasks_done.each do |task| %>
      <li>
        <%= form.check_box "completed_#{task.id}" %> <%= task.task.name %>
      </li>        
    <% end %>
  </ul>
  <%= form.submit "Undo Completion", class: 'btn btn-warning' %>
  <% end %>
  <% end %>
</div>

<% end %>
